*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* top, right, bottom, and left */
.common-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 26px 12px 26px;
    border: none;
    border-top: none;
    border-radius: 10px;
}

.nav-section{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 18px;

}

.nav-links li {
    list-style: none;
    
}

.nav-links li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    cursor: pointer;
}

/*  Navbar End  */


/* Hero Start */
.hero-section{
    
    background-image:
        linear-gradient(
            90deg,
            rgba(5,8,18,.95) 0%,
            rgba(5,8,18,.75) 30%,
            rgba(5,8,18,.45) 60%,
            rgba(5,8,18,0) 100%
        ),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin-bottom: 42px;
}

.hero-main{
    height: 100vh;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.hero-section-first{
    padding-top: 102px;
}

.hero-first{
    font-size: 80px;
    font-weight: 700;
}

.hero-last{
    padding-top: 15px;
    max-width: 790px;
    font-size: 22px;
}

.hero-section-end{
    padding-bottom: 72px;
}


/* Hero End */


.speakers{
    text-align: center;
    margin-bottom: 42px;
    font-size: 56px;
    font-weight: bold;
    color: #000102;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.card img{
    width: 100%;
    object-fit: cover;
}


.card-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 23px;
    gap: 12px;
}

.skills{
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
}

.name{
    color: #0D1B2A;
    font-size: 20px;
    font-weight: bold;
}

.sector{
    color: #575757;
    font-size: 14px;
}