*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* top, right, bottom, and left */
.common-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 26px 12px 26px;
    border: none;
    border-top: none;
    border-radius: 10px;
}

.nav-section{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 18px;

}

.nav-links li {
    list-style: none;
    
}

.nav-links li a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    cursor: pointer;
}

/*  Navbar End  */


/* Hero Start */
.hero-section{
    
    background-image:
        linear-gradient(
            90deg,
            rgba(5,8,18,.95) 0%,
            rgba(5,8,18,.75) 30%,
            rgba(5,8,18,.45) 60%,
            rgba(5,8,18,0) 100%
        ),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin-bottom: 42px;
}

.hero-main{
    height: 100vh;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.hero-section-first{
    padding-top: 102px;
}

.hero-first{
    font-size: 80px;
    font-weight: 700;
}

.hero-last{
    padding-top: 15px;
    max-width: 790px;
    font-size: 22px;
}

.hero-section-end{
    padding-bottom: 72px;
}


/* Hero End */



/* Speakers Start */

.speaker-section{
    margin-bottom: 180px;
}

.speakers{
    text-align: center;
    margin-bottom: 42px;
    font-size: 56px;
    font-weight: bold;
    color: #000102;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.card img{
    width: 100%;
    object-fit: cover;
}


.card-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 23px;
    gap: 12px;
}

.skills{
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
}

.name{
    color: #0D1B2A;
    font-size: 20px;
    font-weight: bold;
}

.sector{
    color: #575757;
    font-size: 14px;
}

/* Speakers End */



.secure-section{
    max-width: 990px;
    margin: 0 auto;

}

.spot{
    color: #0D1B2A;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.early-bird{
    color: #575757;
    font-size: 12px;
    text-align: center;
    margin-bottom: 38px;
}

.all-secure-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card-1{
    max-width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 30px;
    border-radius: 15px;
}
.card-2{
    max-width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #0D1B2A;
    border: 1px solid #e5e5e5;
    padding: 30px;
    border-radius: 15px;
}

.card-3{
    max-width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    padding: 30px;
    border-radius: 15px;
}

.card-head{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: left;
}

.standard{
    color: #888888;
    font-size: 13px;
    font-weight: 600;
}
.standard-2{
    color: #93C5FD;
    font-size: 13px;
    font-weight: 600;
}

.card-price{
    color: #0D1B2A;
    font-size: 44px;
    font-weight: bold;
}
.card-price-2{
    color: #FFFFFF;
    font-size: 44px;
    font-weight: bold;
}

.card-person{
    color: #888888;
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E5E7EB;
}
.card-person-2{
    color: #a6a5a5;
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 2px solid #343435;
}

.secure-lists{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    
}

.list-item-secure{
    color: #333333;
    font-size: 14px;
}
.list-item-secure-2{
    color: #a6a5a5;
    font-size: 14px;
}

.list-item-secure-3{
    color: #333333;
    font-size: 14px;
}

.list-item-secure::marker{
    color: #2563EB;

}
.list-item-secure-2::marker{
    color: #2563EB;

}

.card-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.common-card-btn{
    width: 100%;
    max-width: 330px;
    font-weight: bold;
    font-size: 16px;
    background-color: #FFFFFF;
    padding: 14px 0;
    border: 1px solid #2563EB;
    border-radius: 10px;
    color: #2563EB;
    font-size: 14px;
    font-weight: 700;
}

.common-card-btn-2{
    width: 100%;
    max-width: 330px;
    font-weight: bold;
    font-size: 16px;
    background-color: #2563EB;
    padding: 14px 0;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
}
.common-card-btn-3{
    width: 100%;
    max-width: 330px;
    font-weight: bold;
    font-size: 16px;
    background-color: #E5E7EB;
    padding: 14px 0;
    border: none;
    border-radius: 10px;
    border: 1px solid #000102;
    color: #000102;
    font-size: 14px;
    font-weight: 700;
}